@CHARSET "UTF-8";

.main-table {
	background: #D7D7D7;
}

.wrap-table {
	background: #FFF;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	filter: "progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA,
		direction=0, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC,
		direction=90, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#888888,
		direction=180, strength=5) progid:DXImageTransform.Microsoft.Shadow(color=
}

.main-table table tr:hover td {
    background: #f1f1f1;
}
.main-table table tr td {
    white-space: normal;
    word-break: break-all;
    padding: 4px;
}

.datagrid .panel-body {
    overflow: hidden;
}

.panel-body {
    overflow: auto;
    border-top-width: 0px;
    background-color: #ebebeb;
}

.datagrid-header-row {
    height: 25px;
}