.notice-list {
    .no_notice {
        font-size: 30px;
        color: #cccccc;
        text-align: center;
        line-height: 180px;
    }
    min-width: 500px;
    width: 500px;
    height: 400px;
    .notice-item {
        height: 30px;
        font-size: 14px;
        .notice-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            cursor: pointer;
            &:before {
                content: "◇";
                margin-right: 5px;
                font-size: 14px;
            }
        }
        .notice-date {
            font-size: 14px;
        }
        .notice-new {
            &:after {
                content: url(/images/new.gif);
                font-size: 12px;
                margin-left: 5px;
                position: absolute;
                vertical-align: middle;
            }
        }
    }
}

.notice-info {
    padding-left: 20px;
    padding-right: 20px;
    div {
        margin-top: 10px;
    }
    .notice-title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #666666;
    }
    .notice-ps {
        text-align: center;
        color: #999999;
        span {
            font-size: 12px;
            margin-left: 15px;
        }
    }
    .notice-content {
        font-size: 14px;
        color: #666666;
        text-indent: 2em;
    }
}